.header-navigation {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.header-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.header-navigation a {
  text-decoration: none;
  color: #333;
}

.header-navigation a:hover {
  color: #26c6da;
  /* ホバー時の文字色 */
}