p .pagination {
	text-align: center;
	margin: 3rem 0;
	color: #aaa;
}

.visuallyhidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

.pagination {
	display: flex;
	justify-content: center;
	text-align: center;

	a {
		display: inline-block;
		padding: .5rem .7rem;
		background-color: #eee;
		text-decoration: none;
		color: black;

		&:hover,
		&:focus {
			background-color: #ddd;
		}
	}
}

.pagination__prev {
	&::before {
		content: '<';
	}
}

.pagination__next {
	&::before {
		content: '>';
	}
}

.pagination__items {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	counter-reset: pagination;
	margin: 0 1px;

	li {
		position: absolute;
		top: -100vh;
		counter-increment: pagination;
		margin: 0 1px;

		&:first-child,
		&:last-child {
			position: static;
		}

		&.is-active {
			position: static;

			&:not(:nth-child(1)):not(:nth-child(2)) {
				&::before {
					content: '...';
					display: inline-block;
					padding: .5rem .7rem;
					background-color: #eee;
					margin-right: 2px;
				}
			}

			&+li,
			&+li+li {
				position: static;
			}

			&+li+li:not(:last-child):not(:nth-last-child(2)) {
				&::after {
					content: '...';
					display: inline-block;
					padding: .5rem .7rem;
					background-color: #eee;
					margin-left: 2px;
				}
			}
		}
	}

	a {
		&::before {
			content: counter(pagination);
		}
	}

	.is-active a {
		background-color: black;
		color: white;
	}
}