/* src/components/RecentArticles.css */
.recent-articles {
  h2 {
    text-align: center;
    margin: 0;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
  }


  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ddd;
  }

  a {
    text-decoration: none;
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
  }

  .article-date {
    color: #777;
  }

}


.more-news-link {
  font-size: 0.8em;
  display: block;
  text-align: right;
  margin-right: 50px;
}

.article-category {
  display: flex;

  p {
    padding-bottom: 10px;
    margin: 0px;
  }
}

.article-category-KBN {
  flex: 1;
  margin-right: 3%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-KBN {
  flex: 1;
  margin-top: 5px;

  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.article-title {
  flex: 4;
  margin-top: 5px;

  ul {
    overflow: hidden;
    position: relative
  }

  li {
    white-space: nowrap;

  }

}

.article-date {
  flex: 1;
  margin-top: 5px;

  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.article-category-title {
  flex: 4;
  margin-right: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
}


.article-category-date {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-news {
  display: flex;
}