.articlelist-main-content {
	/* コンテンツエリアを中央に配置 */
	flex: 1;
	width: 80%;
	margin: 0 auto;
}

.ariticles-container {
	margin: 0 auto;
}

.article-container {
	display: flex;
	height: 100px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	/*border: 1px solid #ddd;*/
	text-decoration: none;
}

.article-container:hover {
	background-color: #e0f2f7;
}

.article-thumnail {
	flex: 1;
}

.article-data {
	flex: 6;
	height: 90%;
	color: black;
	margin: 5px;
	border-left: solid 1px #ddd;

	h2 {
		margin: 0px 0px 0px 10px;
		width: 100%;
		/* h2タグの幅を親要素に合わせる */
		overflow-wrap: break-word;
		/* テキストの折り返し設定 */
	}

	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.article-createdAt {
	flex: 1;
}

img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}