.article-content-all {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 1300px;
    margin: auto;
}


.article-content {
    flex: 1;

    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;

    .UpdatedAtP {
        color: rgba(0, 0, 0, 0.5);
    }

    span {
        display: inline-block;
        /* spanはデフォルトでinlineなので、幅やパディングを適用するためにinline-blockにする */
        background-color: #f8f8f8;
        /* 薄いグレーの背景色 */
        color: #333;
        /* 文字色 */
        padding: 0.3em 0.7em;
        /* 上下左右のパディング */
        border-radius: 4px;
        /* 角丸 */
        font-size: 0.9em;
        /* 少し小さめのフォントサイズ */
        margin: 0 5px 5px 0;
        /* 他の要素との間隔 */
        text-decoration: none;
        /* 下線をなくす（もしリンクと組み合わせる場合） */
        white-space: nowrap;
        /* テキストが途中で改行されないようにする */
    }

    h3 {
        margin: 0;
        color: #333;
        margin-top: 70px;
        margin-bottom: 15px;
        border-bottom: 2px solid #eee;
        padding-bottom: 5px;
        border-left: solid 8px #5f7da5;
        padding: 0.5em 0.5em;
        background-color: #f8f8f8;

    }

    table th {
        background-color: yellow;
    }

    table,
    table th,
    table td {
        border: 1px solid black;
        border-collapse: collapse;
    }


    table p {
        padding: 5px
    }

    .marker {
        background-color: #f0f0f0;
        /* 背景色 */
        color: #333;
        /* 文字色 */
        padding: 5px 10px;
        /* 内側の余白（上下5px、左右10px） */
        border-radius: 5px;
        /* 角を丸くする */
        font-size: 0.9em;
        /* 少し小さめのフォントサイズ */
        white-space: nowrap;
        /* 文字が折り返されないようにする */
    }
}

@media (max-width: 1300px) {
    .article-content-all {
        width: 95%;
    }
}