body {
	margin: 0;
	background-color: yellow;

}

.container {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	/* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
	position: relative;
	/* ←相対位置 */
	padding-bottom: 60px;
	/* ←フッターの高さを指定 */
	box-sizing: border-box;
}

.main-content {
	/* コンテンツエリアを中央に配置 */
	width: 80%;
	margin: 0 auto;
}

.content-block {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 15px;
	margin: 20px auto;
	border-radius: 5px;
	width: 1000px;

}