.git-glass {

  h2 {
    text-align: center;
    margin: 0;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;

  }

  img {
    width: 1000px;
    margin: auto;
    display: block;
  }


}


/* メディアクエリ：画面幅が 768px 以下の場合に適用 */
@media (max-width: 768px) {


  .main-content {
    flex-direction: column;
    /* コンテンツを縦に並べる */
  }

  .content {
    width: 100%;
    /* コンテンツの幅を100%にする */
  }
}